{% assign certifications = site.data.data.sidebar.certifications %}
{% if certifications %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Certifications
  </h2>

  <ul class="list-unstyled interests-list">
    {% for cert in certifications %}

      {% if cert.link %}
      <li>{{ cert.title }} <br><a href="{{ cert.link }}">{{ cert.provider }}</a>, {{ cert.date }}</li>
      {% else %}
      <li>{{ cert.title }}<br> {{ cert.provider }}, {{ cert.date }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//certs->
{% endif %}
