{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="section certifications-section">

  <h2 class="section-title">
	  <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-award fa-stack-1x fa-inverse"></i>
    </span><a name="certifications"> Certifications</a>
  </h2>
<div class="list-certifications interests-list">
    {% for cert in certifications %}
	<dl>
      {% if cert.link %}
      <dd>{{ cert.title }} </dd>
      <dt><a href="{{ cert.link }}"> {{ cert.provider }}</a>, {{ cert.date }} </dt>
      {% else %}
      <dd>{{ cert.title }}</dd> 
      <dt>{{ cert.provider }}, {{ cert.date }} </dt>
      {% endif %}
	</dl>
    {% endfor %}

     <a href="#top" target="_self">Back to the top</a>
  </div><!--//certs-->

</section><!--//section-->
{% endif %}
