{% assign highlights = site.data.data.highlights %}
{% if highlights %}

<section class="section summary-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-star fa-stack-1x fa-inverse"></i>
    </span>
    {{ highlights.title }}
  </h2>
  <ul>
  {% for highlight in highlights.events %}
  <div class="item">
   
      <li>
        <span>
          {{ highlights.detail }}
        </span>
      </li>
  </div><!--//summary-->
  {% endfor %}
  </ul>

</section><!--//section-->
{% endif %}