{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
 <!--   <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" /> -->
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}
   

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}


<!-- {% include certifications.html %}
 <!--{% include language.html %}
 <!--{% include interests.html %} -->


  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}
  <ul>
	  <li><a href="#Summary" target="_self">Summary</a></li>
	  <li><a href="#Highlights" target="_self">Highlights</a></li>
	  <li><a href="#Core" target="_self">Core Competencies</a></li>
	  <li><a href="#Experience" target="_self">Professional Experience</a></li>
	  <li><a href="#AdEx" target="_self">Additional Experience</a></li>
     <li><a href="#Education" target="_self">Education</a></li>
     <li><a href="#certifications" target="_self">Certifications</a></li>
     <li><a href="#Presentations" target="_self">Presentations</a></li>
</ul>



</div><!--//sidebar-wrapper-->
