{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

{% if skills.mastered %}
<!--
<h4>Core Competencies</h4>
-->
  <div class="item">
    {% for skill in skills.mastered %}
    <h5>{{ skill.group }}</h5>
      <div class="details">
        {{ skill.details | markdownify }}
      </div><!--//details-->
<!--
      {% for skill in skills.mastered.group %}
      <li>{ {{ skill.details | markdownify }}</li>
      {% endfor %}
-->
    {% endfor %}
  </div>
{% endif %}


<h1>{{ skills.mastered.section }}</h1>

{% for section in skills.mastered.sections %}
{% if section.chapter == page.chapter %}
{{ skill.name }}
{% endif %}
{% endfor %}



{% if skills.toolset %}
<br>
<!--
<h4>Additional Skills</h4>
-->
  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>
  {% endif %}
</section><!--//skills-section-->
{% endif %}
